<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.litian.web.blog.mapper.ArticleMapper">

    <insert id="insert" parameterType="ArticleBean">
        <selectKey order="BEFORE" keyProperty="id" resultType="Long">
            SELECT ARTICLE_SEQ_ID.NEXTVAL FROM dual
        </selectKey>
        insert into ARTICLE (ID, TITLE, MID,
        CDATE, UDATE, CONTENT,FAST_INFO)
        values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{mid,jdbcType=DECIMAL},
        #{cDate,jdbcType=TIMESTAMP}, #{uDate,jdbcType=TIMESTAMP}, #{content,jdbcType=BLOB},
        #{fastInfo, jdbcType=VARCHAR})
    </insert>

    <select id="queryArticleById" resultMap="rs_ArticleBean">
        SELECT
        <include refid="columns"/>
        FROM ARTICLE
        WHERE ID = #{0, jdbcType = DECIMAL}
    </select>
    <select id="queryArticles" resultMap="rs_ArticleBean">
        SELECT
        <include refid="columns"/>
        FROM (
        SELECT<include refid="columns"/>, ROWNUM ROW_NUM FROM(
        SELECT
        <include refid="columns"/>
        FROM ARTICLE
        <where>
            <if test="mid != null">MID = #{mid}</if>
            <if test="queryDate != null">to_char(cdate,'yyyy - MM') = #{queryDate}</if>
        </where>
        ORDER BY CDATE DESC, ID DESC
        )
        <where>
            <if test="end != null">ROWNUM &lt;= #{end}</if>
        </where>
        )
        <where>
            <if test="start != null">ROW_NUM &gt; #{start}</if>
        </where>
    </select>
    <sql id="columns">
        ID,
        TITLE,
        MID,
        CDATE,
        UDATE,
        CONTENT,
        FAST_INFO
    </sql>

    <resultMap id="rs_ArticleBean" type="ArticleBean">
        <id column="ID" property="id"/>
        <result column="TITLE" property="title"/>
        <result column="MID" property="mid"/>
        <result column="CDATE" property="cDate"/>
        <result column="UDATE" property="uDate"/>
        <result column="CONTENT" property="content"/>
        <result column="FAST_INFO" property="fastInfo"/>
    </resultMap>
</mapper>