<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.litian.web.blog.mapper.MemberMapper">

    <insert id="insert">
        <selectKey order="BEFORE" keyProperty="id" resultType="Long">
            SELECT MEMBER_SEQ_ID.NEXTVAL FROM DUAL
        </selectKey>
        insert into MEMBER (ID, NAME, PASSWORD, MAIL, PHONE, STATUS, INFO)
        values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
        #{mail,jdbcType=VARCHAR}, #{phone,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL},
        #{info, jdbcType=VARCHAR}
        )
    </insert>
    <!-- 根据ID查询用户信息 -->
    <select id="queryMemberById" resultMap="rs_MemberBean">
        SELECT
        <include refid="columns"/>
        FROM
        MEMBER
        WHERE
        ID = #{0,jdbcType=DECIMAL}
    </select>
    <select id="queryMemberByPhone" resultMap="rs_MemberBean">
        SELECT
        <include refid="columns"/>
        FROM
        MEMBER
        WHERE
        phone = #{0}
    </select>
    <select id="queryMemberByMail" resultMap="rs_MemberBean">
        SELECT
        <include refid="columns"/>
        FROM
        MEMBER
        WHERE
        mail = #{0}
    </select>
    <select id="queryMemberByName" resultMap="rs_MemberBean">
        SELECT
        <include refid="columns"/>
        FROM
        MEMBER
        WHERE
        name = #{0}
    </select>
    <sql id="columns">
    ID,
    NAME,
    PASSWORD,
    MAIL,
    PHONE,
    STATUS,
    INFO
  </sql>
    <resultMap id="rs_MemberBean" type="MemberBean">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="PASSWORD" property="password"/>
        <result column="MAIL" property="mail"/>
        <result column="PHONE" property="phone"/>
        <result column="STATUS" property="status"/>
        <result column="INFO" property="info"/>
    </resultMap>
</mapper>